*{
   margin: 0;
   padding: 0;
  
}
.container1{
   width: 100%;
   height: 100vw;
   display: flex;
   justify-content: end;
   background-color: red;
}
.leftbox{
   width: 50%;
   height: 100vw;
   background-color: green;
}

.rightbox{
   display: flex;
   flex-direction: column;
   width: 50%;
   height: 100vw;
   background-color: pink;
}

.box1{
   background-color: blue;
   border-radius: 15px;
   padding:20px;
   border: 2px solid black;
}
.box1-p{
   font-size: 15px;
   border-bottom: 1px solid black;
}
.main p{
   font-size: 20px;
}
.main{
   display: flex;
   margin-top: 0.4rem;
}
.main1{
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.main2{
   display: flex;
   justify-content: center;
   flex-direction:column;
   margin-left: 1rem;
   align-items: center;
}
.box2{
   background-color: green;
   border: 1px solid black;
   padding: 20px;
   display: flex;
   justify-content: flex-end;
}