  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body,
html {
   width: 100%;
   height: 100%;
   font-family: 'Poppins', sans-serif;
}
video {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -1;
   background-color: black;
 }


.container {
   width: 100%;
   height: fit-content;
   padding: 5%;
   /* background-image: url("https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   background-size: cover;
   background-position: top; */
   background-color: rgba(0, 0, 0, 0.507);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: white;
   z-index: 1;
   display: flex;
   color: white;
}

.left {
   width: 70%;
   height: 50%;
   font-weight: 700;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 0 22px 0 0;
}

#inp-btn{
   width: fit-content;
   height: fit-content;
   display: flex;
   box-shadow: 0 0 10px white;
   border-radius: 20px 20px 20px 20px;
   margin: 30px 0;
   justify-content: flex-start;
   align-items: center;
   transition: ease .5s;
}
#myInput{
  
   border: none;
   padding: 15px 70px;
   color: white;
   border-radius: 20px 0px 0px 20px;
   background-color: rgba(41, 41, 41, 0.705);
   backdrop-filter: blur(3px);
}
#myInput::placeholder{
   color: white;
}
.submit-btn{
   color: white;
   padding: 15px 15px;
   text-align: center;
   border: none;
   border-radius: 0px 20px 20px 0;
   background-color: rgba(90, 90, 90, 0.705);
   transition: linear .02s;
   backdrop-filter: blur(3px)
}
.submit-btn:hover{
   transform: scale(1.01);
   background-color: rgba(131, 131, 131, 0.705);

}


.left h4 {
   font-size: small;
}
.dayforcast .forecast{
   font-weight: bold;
   color: white;
}
.info {
   overflow: hidden;
   position: relative;
   width: 100%;
   height: 14rem;
   font-size: 5px;
   padding: 25px;
   margin-bottom: 2rem;
   /* margin-right: 25px; */
   /* margin-top: 22px; */
   border-radius: 20px;
   box-shadow: 0 0 20px white;

   background-color: rgba(34, 34, 34, 0.541);
   backdrop-filter: blur(3px)
}
.weather-master{
   height: 3rem;
   justify-content: space-between;
   align-items: center;
   display: flex;
}
.boxes{
   /* width: calc(50% - 20px);
   height: calc(33.33% - 20px); */
   width: 90px;
   height: 60px;
   border-radius: 7px;
   background-color: rgba(0, 0, 0, 0.413);
   backdrop-filter: blur(3px);
   margin: 5px;
   padding: 5px;
 
}
.weather-details{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   
}

.degAndLoc{
   margin-top: 1.3rem;
   width: 100%;
   height: fit-content;
   /* background-color: red; */
   display: flex;
   flex-wrap: wrap;
}
.degAndIcon {
   width: 50%;
   /* background: #000; */
   display: flex;
   align-items: center;
   position: relative;
   flex-direction: row;
}

.degree {
   width: 120px;

}

.degAndIcon .icon img {
 width: 100px;
 height: 100px;
}

.degree h1 {
   text-align: left;
   font-weight: 700;
   font-size: 90px;
}

.degAndIcon .cel {
   font-weight: 100;
   position: absolute;
   font-size: 40px;
   display: inline;
}
.location{
   width: 50%;
   height: fit-content;
   /* background-color: aliceblue; */
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: space-between;
}

 .location h2 {
   width: fit-content;
   text-align: right;
   font-size: 20px;
   letter-spacing: 1px;
   padding-bottom: 5px;
}

.info p {
   width: fit-content;
   text-align: right;
   font-size: 15px;
   font-weight: 100;
   letter-spacing: 1.5px;
}

.right {
   width: 30%;
   height: 100%;
   /* background-color: rgba(0, 128, 0, 0.589); */
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
}
.dayAndFiveDay{
   width: 100%;
   height: 100%;
   display: flex;
}
.weather-description{
   justify-content: space-between;
   width: 100%;
   display: flex;
}
.weather-details{
   width: 48%;
   padding: 1rem;
   border-radius: 20px;
   background-color: rgba(34, 34, 34, 0.541);
   box-shadow: 0 0 20px white;
   backdrop-filter: blur(3px);
   overflow: hidden;
}
.dayforcast{
   padding: 20px;
}
.dayforcast {
   width:48%;
   padding: 1rem;
   border-radius: 20px;
   background-color: rgba(34, 34, 34, 0.541);
   box-shadow: 0 0 20px white;
   backdrop-filter: blur(3px);
}


.dayforcast h4 {
   font-weight: 100;
   margin-bottom: 3px;
}

hr {
   outline: none;
   box-shadow: none;
}

.dayforcastIcon {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 30px;
}

.dayforcast .cel {
   display: inline;
   font-weight: 100;
   position: absolute;
   font-size: 10px;
}

.dayforcastIcon img{
   width: 50px;
   height: 50px;
}
.main1,
.main2 {
   width: 50px;
   height: 120px;
   font-weight: bold;
   /* background-color: red; */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

 .fivedayforcast {
   position: relative;
   height: 85%;
   width:100%;
   padding: 25px;
   border-radius: 20px;
   background-color: rgba(34, 34, 34, 0.541);
   box-shadow: 0 0 20px white;
   backdrop-filter: blur(3px);
   overflow: hidden;
}

.fivedayforcastInfo ul li {
   margin-top: 0.5rem;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 16px;
   font-weight: bold;
}
.fivedayforcastInfo ul li .icon{
   width: 64px;
   height: 64px;
}

.fivedayforcastInfo .upperbar {
   width: 30%;
   height: 3px;
   background-color: white;
}

.fivedayforcastInfo .innerbar {
   width: 60%;
   height: 100%;
   background-color: rgb(0, 102, 255);
}
.fivedayforcastInfo .one {
   width: 52%;
}
.fivedayforcastInfo .two {
   width: 49%;
}
.fivedayforcastInfo .three {
   width: 31%;
}
.fivedayforcastInfo .four {
   width: 49%;
}
.fivedayforcastInfo .five {
   width: 63%;
}

.fivedayforcastInfo .icon{
   font-size: 30px;
}
.fivedayforcastInfo .cel{
   display: inline;
   font-weight: 100;
   position: absolute;
   font-size: 10px;
}
.fivedayforcastInfo .day{
   width: 60px;
}
.fivedayforcastInfo h4{
   width: 30px;
}

@media screen and (max-width: 1057px) {
   .right .dayforcast {
      width: 100%;
   }
   .right .fivedayforcast {
      width: 100%;
   }
   .left{
      padding: 0 0 15vh 0;

   }

 }
 @media screen and (max-width: 700px) {

   .container{
      flex-direction: column;
   }
   .left{
      width: 100%;
      padding: 0;
   }
   .deg h1 {
      font-size: 50px;
   }

.degAndIcon .icon span {
   font-size: 30px;
}

.degAndIcon .cel {
   font-size: 30px;
}
.info h2 {
   font-size: 20px;
   padding-bottom: 2px;
}
.info p {
   font-size: 10px;
  
}
   .right{
      width: 100%;
   }
 }

 @media screen and (max-width: 400px) {
   .container{
      padding: 0;
   }
   .left{
      height: 50%;
      padding: 25px;
   }
   .right .dayforcast {
      height: 150px;
      margin-top: 0px;
      border-radius: 0;
      padding: 10px;
   }
   .right .fivedayforcast {
      margin-top: 3px;
      padding: 10px;
      border-radius: 0px;
   }
   .dayforcastIcon {
      font-size: 15px;
   }
   .main1,
.main2 {
   width: 50px;
   height: 80px;
   font-weight: 100;
}
.fivedayforcastInfo ul li {
   padding: 5px;
   font-size: 13px;
   font-weight: 100;
}

.fivedayforcastInfo .icon{
   font-size: 15px;
}
.fivedayforcast .box1-p{

   font-weight: 100;
   padding-bottom: 10px;
}
 }
